<!-- Product Listing -->
{% for product in products %}

    {% if loop.index0 % 3 == 0 %}<div class="row">{% endif %}

    {% include product.hasVariants() ?
        'StoreTemplateBundle::Modules/_product-variant.html.twig' :
        'StoreTemplateBundle::Modules/_product-item.html.twig'
        with {'product' : product}
    %}

    {% if loop.index0 % 3 == 2 or loop.last %}</div>{% endif %}
{% endfor %}
