@mixin tablet-core {
	.desktop, .mobile {
		& {
			display:none;
		}
		&.d-ib, &.d-b {
			display: none !important;
		}
	}
	.tablet {
		& {
			display:block !important;
		}
		&.d-ib, &.inline-block {
			display: inline-block !important;
		}
	}

	td.tablet, th.tablet {
		display: table-cell !important;
	}

	@if $object-boxes != false {
		@include papa-boxes;
	}

	@include tablet-grid;

	@include mobile-tabs;

	@include mobile-header;
}