{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block content_title %}
    {{ 'Variant Product Zone'|trans }}
{% endblock content_title %}

{% block breadcrumb %}

    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            "new variant": {
                "active" : true
            }
        }
    } %}

{% endblock breadcrumb %}

{% block content %}

    <div class="row">
        <div class="col-md-8">
            {{ render(url("admin_variant_new_component", {id: id})) }}
        </div>
    </div>

{% endblock content %}
