<div class="block-flat">
    <div class="content no-padding">
        <div class="overflow-hidden">
            <i class="fa fa-cog fa-4x pull-left color-success"></i>
            <h3 class="no-margin">{{ 'DAILY'|trans }}</h3>
            <p class="color-success">{{ 'Number of categories added today'|trans }}</p>
        </div>
        <h1 class="no-margin big-text">{{ total }}</h1>
    </div>
</div>
