{% extends 'AdminCoreBundle::layout.html.twig' %}


{% block breadcrumb %}

    {% include '@AdminCore/Common/breadcrumb.html.twig' with {
        breadcrumb: [
            { name: 'admin.settings.plural'|trans },
            { name: 'admin.language.plural'|trans, active: true },
        ]
    } %}

{% endblock %}


{% block content %}
    <div class="loading">
        {{ render(url('admin_language_list_component')) }}
    </div>
{% endblock content %}
