{% extends 'AdminCoreBundle::layout.html.twig' %}


{% block breadcrumb %}

    {% include '@AdminCore/Common/breadcrumb.html.twig' with {
        breadcrumb: [
            { name: 'admin.language.plural'|trans, active: true },
        ]
    } %}

{% endblock %}


{% block content %}
    <p id="table-loading" class="ta-c fz-xxl"><i class="icon-spin icon-spinner" data-fc-modules="on-off-table"></i></p>
    <div id="current-table" style="display: none">
        {{ render(url('admin_language_list_component')) }}
    </div>
{% endblock content %}
