{% extends '@StoreTemplate/Layout/_layout.html.twig' %}


{% block content %}
    {% if address.name %}
        <h2>{{ 'Edit address'|trans }}</h2>
    {% else %}
        <h2>{{ 'Add new address'|trans }}</h2>
    {% endif %}

    {% include '@StoreTemplate/Modules/_address-new.html.twig' with {'form' : form} %}


{###########################################################################
#   IMPORTANT This JS is used on the location-selector to make the city    #
#   selectors work. If you remove this you should implement the same       #
#   functionality by yourself                                              #
###########################################################################}
    {% javascripts '@StoreGeoBundle/Resources/public/js/LocationSelectors.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock content %}
