{% extends '@StoreTemplate/Layout/_layout.html.twig' %}

{% block content_title %}{{ "All my addresses"|trans }}{% endblock content_title %}

{% block content %}
    <h2>{{ 'Addresses'|trans }}</h2>
    {% if addresses|length > 0 %}
    <div class="address-list">
        {% for address in addresses %}
            {% include "@StoreTemplate/Modules/_address-item.html.twig" with {"address": address} %}
        {% endfor %}
    </div>
    {% else %}
        <div class="empty-page">
            <i class="fa fa-map-marker fa-3x"></i>
            <h2 class="product-title">{{ "There are not addresses"|trans}}</h2>
            <a href="{{ url('store_address_new') }}" class="button button-secondary">Add new address</a>
        </div>

    {% endif %}
{% endblock content %}
