{% extends '@StoreTemplate/Layout/_layout.html.twig' %}

{% block title %}Bamboo: powered by Elcodi - Payment failed {% endblock title %}


{% block content %}
    <h3>{{ 'Please try again.'|trans }}</h3>
{% endblock content %}
