{% extends '@StoreTemplate/Layout/_layout.html.twig' %}

{% block breadcrumb_container %}{% endblock breadcrumb_container %}

{% block content %}
    <h3>{{ 'template.store_template_bundle.checkout.payment.try_again'|trans }}</h3>
{% endblock content %}
