{% extends '@StoreTemplate/Layout/_layout.html.twig' %}

{% block breadcrumb_container %}{% endblock breadcrumb_container %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="span6 offset3">
                <div class="member-box">
                    <h2>{{ "template.store_template_bundle.user.password.password_sent"|trans }}</h2>
                    <p>{{ 'template.store_template_bundle.user.password.password_sent_text'|trans }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
