{% extends '@StoreTemplate/Layout/_layout.html.twig' %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="span6 offset3">

                <div class="member-box">


                    <h2>Password sent</h2>

                    <p>
                        We have sent you an email with all the information to
                        recover your password.
                    </p>

                </div>

            </div>

        </div>

    </div>

{% endblock content %}
