{% extends '@AdminCore/layouts/center_box.html.twig' %}

{% block title_container %}{{ '404: Page not found'|trans }} {% endblock title_container %}
{% block content %}
    <h1>{{ 'Uy si! Has descubierto nuestro plan para conquistar el mundo.'|trans }}</h1>
    <img src="{{ asset('bundles/admincore/images/dr-evil.png') }}" width="250" class="fl-r ml-m" />
{% endblock content %}