{% extends '@AdminCore/layouts/center_box.html.twig' %}

{% block title %}{{ 'Store closed or under construction'|trans }} {% endblock %}
{% block content %}
    <h1>Uh si! {{ exception.message|trans }}</h1>
    <img src="{{ asset('bundles/admincore/images/uh-si.png') }}" width="250" class="fl-r ml-m" />
{% endblock content %}