{% extends '::_base.html.twig' %}


{% block body %}
    <h1>Oops! An Error Occurred</h1>
    <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

    <p>{{ exception.message|trans }}</p>
{% endblock %}
