{% extends "AdminCoreBundle::layout.html.twig" %}


{% block body_class %}texture{% endblock body_class %}


{% block body %}
    <div id="cl-wrapper" class="error-container">
        <div class="page-error">
            <h1 class="number text-center">404</h1>
            <h2 class="description text-center">{{ "Sorry, but this page doesn't exists!"|trans }}</h2>
            <h3 class="text-center">{{ "Would you like to go "|trans }}<a href="{{ url("admin_homepage") }}">{{ "home"|trans }}</a>?</h3>
        </div>
        <div class="text-center copy">© 2014 <a href="#">Elcodi.io</a></div>
    </div>
{% endblock body %}