{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block content_title %}
    {{ 'Currency Zone'|trans }}
{% endblock content_title %}

{% block breadcrumb %}
    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            ("Currency"): {
                "active" : true
            }
        }
    } %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            {{ render(url("admin_currency_list_component")) }}
        </div>
    </div>

{% endblock content %}
