{% if flashMessage %}
    <div class="alert {{ class }}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ flashMessage | trans | raw }}
    </div>
{% endif %}
