<!-- Site Top -->

{% render url('store_user_top') %}

<!-- Header -->

<div class="row">

    <div class="span4">

        <p class="logo">
            <a href="{{ url('store_homepage') }}">
                <span class="entypo heart"></span> Vamboo
            </a>
        </p>

    </div>

    <div class="span4">

        <p class="strapline">
            When excellence meets bauty<br />
            <span>Becomes something unstoppable</span>
        </p>

    </div>

    <div class="span4">

        <div class="row">

            <div class="span2 offset2 mini-basket">

                <p class="mini-basket-title"><a href="{{ url('store_cart_view') }}"><span class="entypo cart"></span> Basket</a></p>

                <div class="row">
                    {% render url('store_cart_nav') %}
                </div>

            </div>

        </div>

    </div>

</div>

<!-- Menu -->

<div class="row">
    <div class="span12">
        <ul class="main-nav clearfix">

            {% render url('store_categories_nav') %}

        </ul>
    </div>
</div>
