{% extends 'AdminCoreBundle::layouts/center_box.html.twig' %}



{% block container %}
    <div class="msg-ok">
        <h3>{{ "Email sent"|trans }}</h3>
    </div>
    <p>
        {{ "Please, check your email and follow the instruction to recover your password."|trans }}
    </p>
{% endblock container %}
