

<header class="header">
    {% render url('store_currency_nav') %}
    {% render url('store_language_nav') %}
    <div class="grid">
        <div class="col-1-2">
            <a href="{{ url('store_homepage') }}" class="logo">
                {{ elcodi_config('store.name') }}
            </a>
        </div>
        <div class="col-1-2">
            {% render url('store_user_nav') %}
            {% render url('store_cart_nav') %}
        </div>
    </div>
</header>
<div class="grid desktop">
    {% render url('store_categories_nav') %}
</div>
<a href="#mobile-menu" class="button mobile"><i class="fa fa-arrow-down"></i> {{ 'template.store_template_bundle.header.menu'|trans }}</a>
