<div class="grid message-grid">
    <div class="col-1-1">
{# Notice message (yellow) #}
{% for flashMessage in app.session.flashbag.get('notice') %}
    {% include "@StoreTemplate/Modules/_message-item.html.twig" with {flashMessage: flashMessage, class: ''} %}
{% endfor %}

{# Success message (green) #}
{% for flashMessage in app.session.flashbag.get('success') %}
    {% include "@StoreTemplate/Modules/_message-item.html.twig" with {flashMessage: flashMessage, class: 'message-ok'} %}
{% endfor %}

{# Info message (blue) #}
{% for flashMessage in app.session.flashbag.get('notification') %}
    {% include "@StoreTemplate/Modules/_message-item.html.twig" with {flashMessage: flashMessage, class: 'message-info'} %}
{% endfor %}

{# Warning message (yellow) #}
{% for flashMessage in app.session.flashbag.get('alert') %}
    {% include "@StoreTemplate/Modules/_message-item.html.twig" with {flashMessage: flashMessage, class: 'message-warning'} %}
{% endfor %}

{# Error message (red) #}
{% for flashMessage in app.session.flashbag.get('error') %}
    {% include "@StoreTemplate/Modules/_message-item.html.twig" with {flashMessage: flashMessage, class: 'message-ko'} %}
{% endfor %}
    </div>
</div>
