<div class="product-list">
{% for product in products %}
        {% include '@StoreTemplate/Modules/_product-item.html.twig' with {'product' : product} %}
{% else %}
    <div class="product-empty">
        <i class="fa fa-frown-o fa-3x"></i>
        <h2 class="product-title">{{ "template.store_template_bundle.product.list.no_products_in_category"|trans}}</h2>
    </div>
{% endfor %}
</div>
