<!-- Related Products -->

<div class="row">
    <div class="span12">
        <h2>You May Also Like...</h2>
    </div>
</div>

<!-- Product Listing -->

{% include "StoreProductBundle:Product:blocks/grid.html.twig" with {
    'products' : products
} %}
