{% extends '@AdminCore/layouts/center_box.html.twig' %}

{% block center_width "600" %}
{% block center_height "600" %}

{% block title_container 'Unknown error' %}

{% block content %}
    <h1>Oops! A wild error appeared!</h1>
    <img src="{{ asset('bundles/admincore/images/uh-si.png') }}" width="250" class="fl-r ml-m" />
    <p>
        Something is broken. Please let us know what you were doing when this error occurred.
        We will fix it as soon as possible. Sorry for any inconvenience caused.
    </p>
{% endblock content %}
