{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block content_title %}
    {{ 'CartCoupon Zone'|trans }}
{% endblock content_title %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            {{ render(url("admin_cart_coupon_new_component")) }}
        </div>
    </div>

{% endblock content %}
