{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block content_title %}
    {{ 'CartCoupon Zone'|trans }}
{% endblock content_title %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            {{ render(url("admin_cart_coupon_view_component", {
                'id': id,
            })) }}
        </div>
        <div class="col-md-6">
            {{ render(url("admin_cart_coupon_new_component")) }}
        </div>
    </div>

{% endblock content %}
