default:
    extensions:
        Behat\Symfony2Extension:
            kernel:
                path: app/AppKernel.php
                class: AppKernel
                env: test
                debug: false
        Behat\MinkExtension:
            sessions:
                symfony2:
                    symfony2: ~

    suites:
        homepage:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Elcodi\Store\CoreBundle\Behat\DoctrineContext
                - Elcodi\Store\CoreBundle\Behat\Context
                - Elcodi\Store\ProductBundle\Behat\Context
                - Elcodi\Store\CartBundle\Behat\Context
                - Elcodi\Admin\CoreBundle\Behat\Context

