default:
    extensions:
        Behat\Symfony2Extension:
            kernel:
                path: app/AppKernel.php
                class: AppKernel
                env: test
                debug: false
        Behat\MinkExtension:
            sessions:
                default:
                    symfony2: ~

    suites:
        store:
            paths:
                - %paths.base%/features/store
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Elcodi\Common\BambooBundle\Behat\DoctrineContext
                - Elcodi\Common\BambooBundle\Behat\Context
                - Elcodi\Store\CoreBundle\Behat\Context
                - Elcodi\Store\ProductBundle\Behat\Context
                - Elcodi\Store\CartBundle\Behat\Context
                - Elcodi\Store\GeoBundle\Behat\Context

        admin:
            paths:
                - %paths.base%/features/admin
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Elcodi\Common\BambooBundle\Behat\DoctrineContext
                - Elcodi\Common\BambooBundle\Behat\Context
                - Elcodi\Admin\CoreBundle\Behat\Context
