<div class="brick brick-banner">
    <a class="wrap-media wrap-media-overlap" href="#">
        <img src={{ product.principalImage|resize({'width':234, 'height':255, 'type':5}) }}
             class="img-responsive"
             alt="{{ product.name }}">
    </a>
</div>
