{% extends 'StoreProductBundle:Product:bricks_row.html.twig' %}

{% block bricks_header %}
<div class="row">
    <div class="col col-sm-12">
        <h2 class="heading-comp-link">
            {{ title | trans }}
            <a href="#">
                {% trans %}_See_all{% endtrans %}
                <i class="icon icon-arrow-right-gray-sm"></i>
            </a>
        </h2>
    </div>
</div>
{% endblock bricks_header %}
