{% block bricks_header %}
{% endblock bricks_header %}

{# TODO Create a twig extension for a render correct template #}
<div class="row">
    {% for product in products %}

        <div class="col col-sm-12 col-lg-{{ grid / cols_per_row }}">

            {% include "StoreProductBundle:Product:brick_default.html.twig" %}

        </div>

        {% if not loop.first %}
            {% if loop.index is divisible by(cols_per_row) %}
                </div>
                {% if not loop.last %}
                <div class="row">
                {% endif %}
            {% endif %}
        {% endif %}

    {% endfor %}
</div>
