<a href="{{ path('elcodi_plugin_productcsv_export') }}" type="button" class="button-primary">
    <i class="icon-download" aria-hidden="true"></i>
    {{ 'elcodi_plugin.product_csv.action'|trans }}
</a>
