{% extends 'AdminCoreBundle::layout.html.twig' %}


{% block content %}

    <div class="row">
        <div class="col-md-6">
            {{ render(url("admin_rule_view_component", {
                'id': id,
            })) }}
        </div>
        <div class="col-md-6">
            {{ render(url("admin_rule_new_component")) }}
        </div>
    </div>

{% endblock content %}
