{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block content_title %}
    {{ 'Order Zone'|trans }}
{% endblock content_title %}

{% block breadcrumb %}

    {% set entityHeader = order.id
        ? 'Edit ' ~ order.name
        : 'Create new Order'
    %}

    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            "Orders": {
                "url": url('admin_order_list')
            },
            ("#" ~ order.id): {
                "active" : true
            }
        }
    } %}

{% endblock breadcrumb %}

{% block content %}

    <div class="grid">
        <div class="col-8-12">
            {{ render(url("admin_order_edit_component", {
                'id': order.id
            })) }}
        </div>
        <div class="col-4-12">
            Address
        </div>
    </div>

{% endblock content %}
