.header {
	& {
		display: block;
		overflow: hidden;
		background: $color-background;
		padding: $spacing/1.5 $spacing $spacing/2;
		min-height: 68px;
	}
	.list-horizontal {
		& {
			margin-bottom: 0;
			font-size: $font-size-xxl;
			font-family: $font-face-title;
			line-height: 100%;
		}
		li {
			margin-right: 0;
		}
		a {
			& {
				color: rgba($color-foreground, .4);
			}
			&:hover {
				color: $color-link;
			}
		}
	}
	.buttons-group {
		float: right;
	}

}
