{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block body_class %}texture{% endblock body_class %}

{% block body %}

    <div id="cl-wrapper" class="forgotpassword-container">

        <div class="middle">
            <div class="block-flat">
                <div class="header">
                    <h3 class="text-center">Bamboo Admin</h3>
                </div>
                <div class="content">
                    <h5 class="title text-center">
                        <strong>Email sent</strong>
                    </h5>
                    <p class="text-center">
                        Please, check your email and follow the instruction
                        to recover your password.
                    </p>
                </div>
            </div>
        </div>

    </div>

{% endblock body %}
