{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block content_title %}
    {{ 'Attribute Zone'|trans }}
{% endblock content_title %}


{% block breadcrumb %}
    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            "Attributes": {
                "active" : true
            }
        }
    } %}
{% endblock breadcrumb %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            {{ render(url("admin_attribute_list_component", {
            'page': page,
            'limit': limit,
            'orderByField': orderByField,
            'orderByDirection': orderByDirection
            })) }}
        </div>
    </div>
{% endblock content %}
