@mixin category-nav-mobile() {
	.category-nav {
		& {
			display: block;
			overflow: hidden;
		}
		li {
			& {
				display: block;
				overflow: hidden;
				padding: 0;
				text-align: center;
				margin-bottom: 1px;
			}
			a {
				& {
					display: block;
					padding: $spacing/2;
					background: $color-foreground;
					color: $color-background;
				}
				&:hover {
					text-decoration: none;
					background: $color-link;
					color: $color-background;
				}
				&.active {
					border-color: $color-link;
					background: $color-link;
					color: $color-background;
				}
			}
		}
		li > ul {
			margin-left: $spacing;
		}
	}

}

@mixin category-nav-desktop() {
	.category-nav {
		& {
			display: block;
			position: relative;
			margin: 0;
			padding-bottom: 2px;
			overflow: visible;
		}
		li {
			& {
				display: inline-block;
				margin: $spacing/2 $spacing/2 0 0;
			}
			&.expand {
				margin-bottom: $spacing*2;
			}
		}
		a {
			& {
				border: 1px solid $color-background;
				display: inline-block;
				padding: $spacing/2;

			}
			&.active {
				border-color: $color-link;
				background: $color-link;
				color: $color-background;
			}
			&:hover {
				border-color: $color-background;
				text-decoration: none;
				background: $color-background;
			}
		}
		li > ul {
			& {
				background: $color-background;
				position: absolute;
				overflow: hidden;
				width: 100%;
				left: 0;
			}
			li {
				margin: 0;

			}
			a {
				& {
					border: 0px none;
					color: $color-link;
				}
				&.active {
					border-color: $color-link;
					background: $color-link;
					color: $color-background;
				}
				&:hover {
					border-color: $color-background;
					text-decoration: none;
					color: $color-background;
					background: $color-foreground;
				}
			}
		}
	}
}