.sidebar-user {
	& {
		display: block;
		background: rgba($color-foreground,.2);
		margin: 0;
		padding: $spacing/2;
		overflow: hidden;
		border-bottom: 1px solid rgba($color-background, .2);
	}
}

.sidebar-user-avatar {
	float: left;
	margin-right: $spacing/2;

}

.sidebar-user-info {
	& {
		float: left;
		overflow: hidden;
		margin-bottom: $spacing/2;
	}
	a {
		color: $color-background;
	}
}

.sidebar-user-dropdown{
	& {
		display: none;
		clear: both;
		background: $color-box;
		@include border-radius;
		@include box-shadow;
		padding: 0;
		margin: 0 0 $spacing/4 0;
		overflow: hidden;

	}
	li {
		&:last-of-type {
			a {
				border-bottom: 0 none;
			}
		}
	}
	a {
		& {
			color: $color-foreground;
			display: block;
			position: relative;
			padding: $spacing/4 $spacing/2;
			border-bottom: 1px dotted rgba($color-foreground, .5);
		}
		&:hover {
			text-decoration: none;
			background: rgba($color-foreground, .1);
		}

	}
}