/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/*********************************************************************
					Maintenance Page Styles
**********************************************************************/
#maintenance {
  margin: 50px 0 0 0;
}
@media (min-width: 1200px) {
  #maintenance {
    margin: 126px 0 0 0;
    padding: 91px 48px 365px 297px;
    background: url(../img/bg_maintenance.png) no-repeat;
  }
}
#maintenance .logo {
  margin: 0 0 31px 0;
}
#maintenance #message {
  padding: 0 0 0 18px;
  color: #555454;
  text-transform: uppercase;
}

@media only screen and (min-width: 1200px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
