.date-hour {
	& {
		margin-bottom: 0;
	}
	input {
		display: inline-block;

	}
	input[type='date'] {
		width: 50%;
		min-width: 150px;
		max-height: $spacing*1.7;
		margin: 0 $spacing/2 $spacing/2 0;
	}
	input[type='time'] {
		@extend %field;
		width: 37%;
		min-width: 100px;
		max-height: $spacing*1.5;
		margin-bottom: $spacing/2;
	}
	.ws-date, .ws-time {
		width: 68% !important;
	}
	.input-buttons {
		padding: 0;
	}
}
