$object-navigation-sub-vars-default: (

	/*  First level */
		background-color: $color-background,
		color: $color-primary,
		border-radius: $default-border-radius,
		font-family: $font-face-default,
		font-weight: normal,
		font-weight-active: bold,
		font-size: $font-size-m,

	/* Inner levels */
		background-color-dark: $color-box,
		background-color-light: $color-primary-light,
		inner-font-family: $font-face-default,
		inner-font-weight: normal,
		inner-font-size: $font-size-s,

	/* Object style (Default or tabbed) */
		style: default

) !global !default;