{% set partialIntervals = intervalContainer.partialIntervals %}
{% set chartElementsSeparation = intervalContainer.chartElementsSeparation %}
{% set chartLegendFormat = intervalContainer.chartLegendFormat %}

<div class="box-none pa-n">
    <canvas
        height="200"
        data-tc-modules="charts"
        data-tc-type="bar"
        data-tc-labels-x="{% for partialInterval in partialIntervals %}{% if loop.index % chartElementsSeparation == 0 %}{{ partialInterval.first|date(chartLegendFormat) }}{% endif %},{% endfor %}"
    >
        <input
            name="{{ 'Unique' }}"
            type="hidden"
            value="{% for partialInterval in partialIntervals %}{{ metric_accumulation(tracker, event, partialInterval.elements)/100 }},{% endfor %}"
        />
    </canvas>
</div>
