.form-grid {
	article {
		& {
			background: $color-background;
			padding: $spacing;
			@include border-radius;
		}
	}
}

@mixin papa-form-grid(){
	.form-grid {
		article {
			& {
				display: inline-block;
				width: 31%;
				margin-right: 2%;
			}
		}
	}
}