.address-item {
	& {
		display: block;
		background: $color-background;
		overflow: hidden;
		padding: $spacing/8;
		box-shadow: 0 2px 2px rgba($color-foreground, .2);
	}
	dt, dd {
		float: left;
		padding-bottom: $spacing/2;
	}
	dt {
		opacity: .5;
		width: 50%;
		clear:left;
		text-align: right;
		padding-right: $spacing/2;
	}
	dd {
		max-width: 50%;
	}
	dt.address-item-actions, dt.address-item-selection {
		display: none;
	}
	dd.address-item-actions {
		& {
			max-width: 100%;
			padding-top: $spacing/2;
			clear: both;
			display: block;
			float: none;
			text-align: center;
		}
		.button-primary {
			margin-right: $spacing/4;
		}
	}

	.address-item-selection-item {
		& {
			width: 49%;
			text-align: center;
			display: inline-block;
		}
		.switch {
			display: block;
		}
	}

	dd.address-item-selection {
		& {
			max-width: 100%;
			padding: $spacing/2;
			margin-bottom: $spacing/2;
			clear: both;
			display: block;
			float: none;
			text-align: center;
			background: rgba($color-box, .5);
		}
	}

	dd.address-item-selection {
		label {
			margin: 0 $spacing/2;
		}
		input {
			margin-right: $spacing/4;
		}
	}
}