{% extends 'StoreTemplateBundle::Layout/_layout.html.twig' %}

{% block body %}
    <section class="list-pages">
        <h1>Product</h1>
        <ul>
            <li>
                Home:
                <ul>
                    <li><a href="home-view.html">with products</a></li>
                    <li><a href="home-view-empty.html">without products</a></li>
                </ul>
            </li>
            <li>
                Category:
                <ul>
                    <li><a href="category-view.html">with products</a></li>
                    <li><a href="category-view-empty.html">without products</a></li>
                </ul>
            </li>
            <li>
                Item:
                <ul>
                    <li><a href="product-view-item.html">without variants</a></li>
                    <li><a href="product-view-variant.html">with variants</a></li>
                </ul>
            </li>
            <li>

            </li>
            <li>

            </li>
        </ul>
        <h1>Cart & Checkout</h1>
        <ul>
            <li>
                Cart:
                <ul>
                    <li><a href="cart-view.html">with products</a></li>
                    <li><a href="cart-view-empty.html">without products</a></li>
                </ul>
            </li>
            <li>
                Checkout:
                <ul>
                    <li><a href="checkout-address.html">Checkout Address</a></li>
                    <li><a href="checkout-payment.html">Checkout Payment</a></li>
                    <li><a href="checkout-payment-fail.html">Checkout fail</a></li>
                </ul>
            </li>
        </ul>
        <h1>Orders</h1>
        <ul>
           <li>
               Order list:
               <ul>
                   <li><a href="order-list.html">with orders</a></li>
                   <li><a href="order-list-empty.html">without orders</a></li>
               </ul>
           </li>
            <li>
                Order view:
                <ul>
                    <li><a href="order-view.html">with products</a></li>
                    <li><a href="order-view-empty.html">without products</a></li>
                </ul>
            </li>
        </ul>
        <h1>User</h1>
        <ul>
            <li>
                Not login required
                <ul>
                    <li><a href="user-login.html">Login</a></li>
                    <li><a href="user-password-recover.html">Password recover</a></li>
                    <li><a href="user-register.html">Register</a></li>
                </ul>
            </li>
            <li>
                Login Required
                <ul>
                    <li><a href="user-home.html">User home</a></li>
                    <li><a href="user-edit.html">Edit Profile</a></li>
                    <li><a href="address-edit.html">Edit Address</a></li>
                    <li><a href="address-list.html">Address list</a></li>
                </ul>
            </li>
        </ul>
        <h1>Blog</h1>
        <ul>
            <li>
                Blog post:
                <ul>
                    <li><a href="blog-post-view.html">Blog post</a></li>
                    <li><a href="blog-posts-list.html">Blog posts list</a></li>
                </ul>
            </li>
        </ul>
    </section>

    <style type="text/css">
        .list-pages {
            max-width: 800px;
            margin: 16px auto;
            overflow: hidden;
            background: #FFF;
            padding: 0 16px 16px 16px;
        }
        .list-pages ul {
            font-size: 18px;
            list-style: disc;
            padding-left: 18px;
        }
        .list-pages > ul > li {
            display: block;
            overflow: hidden;
            padding-bottom: 16px;
        }
    </style>
{% endblock body %}
