{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block body %}
        <div class="col-6-12 animated bounce-in-down" data-tc-modules="center-box">
            <div class="box-lighten">
                {% block container %}
                    <div class="box-primary">
                        <h2 class="mb-n c-background">{% block title_container %}<i class="icon-lock"></i> Bamboo Admin {% endblock title_container %}</h2>
                    </div>
                    {% block content '' %}
                {% endblock container %}
            </div>
        </div>
{% endblock body %}
