{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block body %}
        <div class="col-6-12" data-tc-modules="center-box">
            <div class="box-lighten">
                {% block container %}
                    <div class="box-primary">
                        <h2 class="mb-n c-background"><i class="icon-lock"></i> Bamboo Admin</h2>
                    </div>
                    {% block content %}{% endblock content %}
                {% endblock container %}
            </div>
        </div>
{% endblock body %}
