<ol class="list-horizontal">
    {% for value,attr in breadcrumb %}
        <li>
            {% if attr.url %}<a href="{{ attr.url }}">{% endif %}
                {{ value|trans }} {% if not attr.active %}<i class="icon-angle-right"></i>{% endif %}
            {% if attr.url %}</a>{% endif %}
        </li>
    {% endfor %}
</ol>
