{% extends 'AdminCoreBundle::layout.html.twig' %}


{% set elcodi_context = {
    entity_type: 'attribute',
} %}


{% block breadcrumb %}

    {% include '@AdminCore/Common/breadcrumb.html.twig' with {
        breadcrumb: [
            { name: 'admin.categorization.single'|trans, active: false },
            { name: 'admin.attribute.plural'|trans, active : true, },
        ],
    } %}

{% endblock breadcrumb %}


{% block header_actions %}

    <a href="{{ url('admin_attribute_new') }}" type="button" class="button-primary">
        <i class="icon-plus"></i>
        <span>{{ 'admin.attribute.new'|trans }}</span>
    </a>

{% endblock header_actions %}


{% block content %}

    {{
        render(url('admin_attribute_list_component', {
            page: page,
            limit: limit,
            orderByField: orderByField,
            orderByDirection: orderByDirection,
        }))
    }}

{% endblock content %}
