.sidebar {
	&{
		background: #31373D;
		overflow: hidden;
		@include text-shadow(1px 1px 0 rgba($color-foreground,.2))
	}

}

.sidebar-title {
	display: block;
	color: $color-background;
	font-family: $font-face-title;
	font-weight: 400;
	font-size: $font-size-xl;
}

@mixin desktop-sidebar(){
	.sidebar {
		&{
			height: 100%;
			position: fixed;
			overflow-y: auto;
		}
		.navigation-vertical{
			z-index: 100;
			position: relative;
			margin-bottom: 80px;
		}
	}
}