{% extends 'AdminCoreBundle::layout.html.twig' %}


{% block content_title %}
    {{ 'Coupon Zone'|trans }}
{% endblock content_title %}

{% block breadcrumb %}
    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            "Coupons": {
                "url": url('admin_coupon_list')
            },
            "New": {
                "active" : true
            }
        }
    } %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {{ render(url("admin_coupon_new_component")) }}
        </div>
    </div>
{% endblock content %}
