{% extends 'AdminCoreBundle::layout.html.twig' %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            {{ render(url("admin_rule_group_list_component", {
                'page': page,
                'limit': limit,
                'orderByField': orderByField,
                'orderByDirection': orderByDirection
            })) }}
        </div>
    </div>

{% endblock content %}
