$colors-custom: (
	foreground: #222,
	foreground-light: auto,
	foreground-dark: auto,
	background:	#FFF,
	background-light: auto,
	background-dark: auto,
	body: #E6E9EA,
	primary: #4cbfbf,
	primary-light: auto,
	primary-dark: auto,
	secondary: #F2A138,
	secondary-light: auto,
	secondary-dark: auto,
	link: #4cbfbf,
	link-hover:	#006bc1,
	link-hover-background: transparent,
	contrast: #f4f2f2,
	contrast-light: auto,
	contrast-dark: auto,
	megacontrast: #000,
	header-background: #3d474e,
	rank: #FCCB04,
	info: #1E72A6,
	success: #6A932C,
	error: #EE3728,
	warning: #DFB84F,
	input-focus: #ffffea
) !global !default;

$color-navigation-primary: #000 !global;