{% extends 'AdminCoreBundle::layout.html.twig' %}


{% block content_title %}
    {{ 'Category Zone'|trans }}
{% endblock content_title %}


{% block breadcrumb %}
    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            "Categories": {
                "active" : true
            }
        }
    } %}
{% endblock breadcrumb %}


{% block header_actions %}
    <a href="{{ url("admin_category_new") }}" class="button-primary"><i class="icon-plus"></i> {{ "New category"|trans }}</a>
{% endblock header_actions %}


{% block content %}

    {{ render(url("admin_category_list_component"))}}

{% endblock content %}
