<!-- Login -->

<div class="row">

    <div class="span6 offset3">

        <div class="member-box">

            <h2>Register</h2>

            <form action="" method="post">

                <p>
                    <label for="field-email">Email <span class="mand">*</span></label>
                    <input type="text" id="field-email" name="field-email" />
                </p>

                <p>
                    <label for="field-password">Password <span class="mand">*</span></label>
                    <input type="password" id="field-password" name="field-password" />
                </p>

                <p>
                    <label for="field-passwordc">Confirm Password <span class="mand">*</span></label>
                    <input type="password" id="field-passwordc" name="field-passwordc" />
                </p>

                <p class="buttons">
                    <button class="btn btn-primary" type="submit">Continue</button>
                </p>

            </form>

        </div>

    </div>

</div>