{% extends 'StoreCoreBundle::layout.html.twig' %}

{% block content %}
    <div class="row">

        <div class="span12">

            <div class="content-box">

                <h1>Content Template</h1>

                <h2>h2 subtitle</h2>

                <p>Aenean sit amet gravida sem, eu viverra diam. Integer nisl lorem, posuere in sagittis sit amet, scelerisque nec purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras mollis sem nibh, ut euismod elit lobortis a. Curabitur blandit leo in mollis rutrum. Proin sodales neque eu lacus porttitor, et malesuada risus scelerisque. Sed aliquam mi nec accumsan ornare. Nullam egestas euismod tellus. Nunc lacinia laoreet enim quis consectetur. Integer faucibus sapien nec interdum eleifend.</p>

                <h3>h3 subtitle</h3>

                <ul>
                    <li>Aenean sit amet gravida sem, eu viverra diam.</li>
                    <li>Integer nisl lorem, posuere in sagittis sit amet, scelerisque nec purus.</li>
                    <li>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</li>
                    <li>Cras mollis sem nibh, ut euismod elit lobortis a.</li>
                    <li>Curabitur blandit leo in mollis rutrum.</li>
                    <li>Proin sodales neque eu lacus porttitor, et malesuada risus scelerisque.</li>
                    <li>Sed aliquam mi nec accumsan ornare.</li>
                    <li>Nullam egestas euismod tellus.</li>
                    <li>Nunc lacinia laoreet enim quis consectetur.</li>
                    <li>Integer faucibus sapien nec interdum eleifend.</li>
                </ul>

                <h4>h4 subtitle</h4>

                <p>Aenean sit amet gravida sem, eu viverra diam. Integer nisl lorem, posuere in sagittis sit amet, scelerisque nec purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras mollis sem nibh, ut euismod elit lobortis a. Curabitur blandit leo in mollis rutrum. Proin sodales neque eu lacus porttitor, et malesuada risus scelerisque. Sed aliquam mi nec accumsan ornare. Nullam egestas euismod tellus. Nunc lacinia laoreet enim quis consectetur. Integer faucibus sapien nec interdum eleifend.</p>

                <ol>
                    <li>Aenean sit amet gravida sem, eu viverra diam.</li>
                    <li>Integer nisl lorem, posuere in sagittis sit amet, scelerisque nec purus.</li>
                    <li>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</li>
                    <li>Cras mollis sem nibh, ut euismod elit lobortis a.</li>
                    <li>Curabitur blandit leo in mollis rutrum.</li>
                    <li>Proin sodales neque eu lacus porttitor, et malesuada risus scelerisque.</li>
                    <li>Sed aliquam mi nec accumsan ornare.</li>
                    <li>Nullam egestas euismod tellus.</li>
                    <li>Nunc lacinia laoreet enim quis consectetur.</li>
                    <li>Integer faucibus sapien nec interdum eleifend.</li>
                </ol>

                <h5>h5 subtitle</h5>

                <table>
                    <tr>
                        <th>Delivery Method</th>
                        <th>Price</th>
                    </tr>
                    <tr>
                        <td>Standard (3-4 working days)</td>
                        <td>FREE</td>
                    </tr>
                    <tr>
                        <td>Express (1-2 working days)</td>
                        <td>&pound;4.99</td>
                    </tr>
                    <tr>
                        <td>Worldwide Standard (3-7 working days)</td>
                        <td>&pound;4.99</td>
                    </tr>
                    <tr>
                        <td>Worldwide Express (3-4 working days)</td>
                        <td>&pound;8.99</td>
                    </tr>
                </table>

            </div>

        </div>

    </div>
{% endblock %}
