{% extends 'StoreCoreBundle::layout.html.twig' %}

{% block title %}{% trans %}_root_title{% endtrans %} - {% trans %}_tagline_title{% endtrans %}{% endblock title %}


{% block content_inner %}

    <div class="container contact">
        <div class="row contact-body">
            <div class="col col-sm-12 col-lg-9">
                <form class="contact-form" method="post" action="#">
                    <h1 class="h2">{% trans %}_Contact{% endtrans %}</h1>
                    <p>Lorem ipsum Consequat commodo culpa in velit in cupidatat dolor tempor voluptate laborum magna ea sint magna dolor labore deserunt veniam elit voluptate cillum dolor officia sit tempor dolor sit dolore occaecat aliquip in laborum Ut consequat non eu Duis cupidatat in veniam Ut consectetur eu ea in deserunt consectetur anim deserunt sed sit nisi ullamco sunt in qui in ut fugiat non Ut proident consectetur esse aliquip dolore.</p>
                    <fieldset>
                        <div class="row">
                            <div class="col col-sm-12 col-lg-6">
                                <div class="form-group">
                                    <label class="label-lg label-required" for="subject">{% trans %}_Subject_heading{% endtrans %}</label>
                                    <input type="text" class="form-control input-lg" name="_subject" id="subject" placeholder="{% trans %}_placeholder_Subject{% endtrans %}" required>
                                </div>
                            </div>
                            <div class="col col-sm-12 col-lg-6">
                                <div class="form-group">
                                    <label class="label-lg label-required" for="email">{% trans %}_Email{% endtrans %}</label>
                                    <input type="email" class="form-control input-lg" name="_email" id="email" placeholder="{% trans %}_placeholder_Email{% endtrans %}" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-12 col-lg-6">
                                <div class="form-group">
                                    <label class="label-lg" for="order-id">{% trans %}_Order_ID{% endtrans %}</label>
                                    <input type="text" class="form-control input-lg" name="_order-id" id="order-id" placeholder="{% trans %}_placeholder_Order_ID{% endtrans %}">
                                </div>
                            </div>
                            <div class="col col-sm-12 col-lg-6">
                                <div class="form-group">
                                    <label class="label-lg label" for="comments">{% trans %}_Comments{% endtrans %}</label>
                                    <textarea class="form-control input-lg" name="_comments" id="comments" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-12 col-lg-12">
                                <div class="checkbox help-block">
                                    <label for="confirm-terms">
                                        <input type="checkbox" name="_confirm-terms" id="confirm-terms">
                                        {% trans %}_Check_terms_of_use{% endtrans %}
                                    </label>
                                </div>
                            </div>
                        </div>
                        {% include "StoreCoreBundle:blocks:form_actions.html.twig" with
                            {
                                class:           'form-act-hr',
                                btn_quantity:    1,
                                btn_type_1:      1,
                                btn_url_1:       'submit',
                                btn_txt_1:       '_Send'
                            }
                        %}
                    </fieldset>
                </form>
            </div>
            <div class="col col-sm-12 col-lg-3">

                <div class="contact-info">
                    <h2>{% trans %}_Customer_service{% endtrans %}</h2>
                    <ul>
                        <li>
                            <p>{% trans %}_If_you_have_any_doubt_or_issue{% endtrans %}</p>
                        </li>
                        <li class="contact-info-help">
                            <h3>{% trans %}_Schedule{% endtrans %}</h3>
                            <p>{% trans %}_Schedule_content{% endtrans %}</p>
                        </li>
                        <li class="contact-info-address">
                            <h3>{% trans %}_Address{% endtrans %}</h3>
                            <p>{% trans %}_Address_content{% endtrans %}</p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

{% endblock content_inner %}
