{% extends 'StoreCoreBundle::layout.html.twig' %}

{% block title %}{% trans %}_root_title{% endtrans %} - {% trans %}_tagline_title{% endtrans %}{% endblock title %}


{% block content_inner %}

    <div class="container">
        <div class="row">
            <div class="col col-sm-12">
                Terms of use
            </div>
        </div>
    </div>

{% endblock content_inner %}
