{% extends 'StoreCoreBundle::layout.html.twig' %}

{% form_theme form 'StoreCoreBundle::fields.html.twig' %}

{% block content_title %}{{ app.user.name }}{% endblock content_title %}

{% block content %}

    <div class="container">

        {% include 'StoreUserBundle:User:blocks/profile.html.twig' %}

    </div>

{% endblock content %}
