{% extends 'StoreCoreBundle::layout.html.twig' %}

{% block content_title %}Profile management{% endblock content_title %}

{% block content %}

    <div class="row">
        <div class="span12">

            <table class="basket-table">
                <tr>
                    <td class="title">
                        <a href="{{ path("store_user_profile") }}">Profile</a>
                    </td>
                </tr>
                <tr>
                    <td class="title">
                        <a href="{{ path("store_order_list") }}">My orders</a>
                    </td>
                </tr>
            </table>

        </div>
    </div>

{% endblock content %}
