<div class="box-none pa-n">
    <img class="thumbnail d-ib va-m w-10" src="{{ urlAvatar }}">
    <div class="balloon balloon-left balloon-background d-ib va-m mb-n w-80">
        {{ comment }}
    </div>
</div>
