<div id="boxpopuli-comment-{{ commentId }}" class="bxp-wrapper" data-comment-id="{{ commentId }}">
    <div class="bxp-comment"></div>
    <div class="bxp-response-block">
        <div class="bxp-responses"></div>
        <div id="boxpopuli-response-{{ commentId }}" class="bxp-new-response"></div>
    </div>
</div>
