<div class="block-flat">
    <div class="content no-padding">
        <div class="overflow-hidden">
            <i class="fa fa-archive fa-4x pull-left color-primary"></i>
            <h3 class="no-margin">{{ 'TOTAL INSTANCES'|trans }}</h3>
            <p class="color-primary">{{ 'Number of instances since the begining'|trans }}</p>
        </div>
        <h1 class="no-margin big-text">{{ total }}</h1>
    </div>
</div>
