{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block content_title %}
    {{ 'Product Zone'|trans }}
{% endblock content_title %}

{% block breadcrumb %}

    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            "Products": {
                "active" : true
            }
        }
    } %}

{% endblock breadcrumb %}

{% block header_actions %}
    <a href="{{ url("admin_product_new") }}"type="button" class="button-main"><i class="icon-plus"></i> {{ "New product"|trans }}</a>
{% endblock %}

{% block content %}

    {{ render(url("admin_product_list_component", {
        'page': page,
        'limit': limit,
        'orderByField': orderByField,
        'orderByDirection': orderByDirection
    })) }}

{% endblock content %}
