{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block content_title %}
    {{ 'Configuration Zone'|trans }}
{% endblock content_title %}


{% block breadcrumb %}
    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            "Configuration": {
                "active" : true
            }
        }
    } %}
{% endblock breadcrumb %}


{% block content %}

    <h4>Store configuration</h4>
    <ul>
        <li>Store name <input type="text" value="{{ getConfiguration('store.name') }}" /> </li>
    </ul>
    <h4>Products configuration</h4>
    <ul>
        <li>Use stock <input type="checkbox"{% if getConfiguration('product.use_stock') %} checked="checked"{% endif %} /></li>
    </ul>
    <h4>Currency configuration</h4>
    {% set defaultCurrency = getConfiguration('currency.default_currency') %}
    <select>
        {% for currency in currencies %}
            <option value="{{ currency.iso }}"{% if currency.iso == defaultCurrency %} selected="selected"{% endif %}>{{ currency.name }}</option>
        {% endfor %}
    </select>

{% endblock content %}
