{% extends 'AdminCoreBundle::Common/component.html.twig' %}


{% block table_content %}

    <table class="table" id="datatable-icons" summary="{% block title '' %}" {% block table_attributes '' %}>
        <thead>
            <tr role="row">
                {% block table_head '' %}
            </tr>
        </thead>
        <tbody>
            {% block table_body %}
            {% for entity in paginator %}
                <tr class="gradeA {{ cycle(['odd', 'even'], loop.index0) }}">
                    {% block table_body_row '' %}
                </tr>
            {% endfor %}
            {% endblock table_body %}
        </tbody>
    </table>

{% endblock table_content %}


{% block table_pagination %}

    <div class="box-none pa-n mb-n">
        <div class="fl-l">
            <p class="fz-default">
                {% set firstElement = limit * (page - 1) + 1 %}
                {% set lastElement = min(firstElement + limit - 1, totalElements) %}
                {{
                    'ui.paginator.elements'|trans({
                        '%first%': firstElement,
                        '%last%': lastElement,
                        '%total%': totalElements,
                    })
                }}
            </p>
        </div>
        <div class="fl-r">
            {{ block('table_paginator_links') }}
        </div>
    </div>

{% endblock table_pagination %}


{#
    Pagination block.

    To render this block you need to define the "url" parameter in the principal
    template, and then render the parent:

    {% set url = "admin_product_list" %}
    {{ parent() }}
#}
{% block table_paginator_links %}

    {% include '@AdminCore/Tables/paginator.html.twig' with {
        page: page,
        total_pages: totalPages,
        url: url,
        limit: limit,
        order_by_field: orderByField,
        order_by_direction: orderByDirection,
        middle_group_length: 1,
        side_group_space_length: 1,
    } %}

{% endblock table_paginator_links %}
