{% extends 'AdminCoreBundle::Common/listComponent.html.twig' %}

{% block title %}
    {{ 'Menu list'|trans }}
{% endblock title %}

{% block content %}

    {% for menu in paginator %}
        <tr>
            <td>
                <a href="{{ url('admin_menu_edit', {
                    'id': menu.id
                }) }}">
                    <strong>{{ menu.code }}</strong>
                </a>
                <br>
                {{ menu.description }}
            </td>
            <td class="text-right">
                <input class="switch" data-size="medium" type="checkbox"{% if menu.enabled %} checked{% endif %}>
            </td>
        </tr>
    {% endfor %}

{% endblock content %}
