{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block content_title %}
    {{ 'Menu Zone'|trans }}
{% endblock content_title %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            {{ render(url("admin_menu_view_component", {
                'id': id,
            })) }}
        </div>
    </div>

{% endblock content %}
