{% extends '@StoreTemplate/Layout/_layout.html.twig' %}

{% block body %}
<div class="pages">
    {% block header %}

        {% include '@StoreTemplate/Modules/_header.html.twig' %}

    {% endblock header %}

    {% block container %}

        {% block messages %}
            {% include "@StoreTemplate/Modules/_message-list.html.twig" %}
        {% endblock messages %}

        <div class="grid grid-pad">
            <div class="col-1-1">
                {% block content %}{% endblock content %}
            </div>
        </div>
        {% block prefooter %}{% endblock prefooter %}
        {%  block footer %}

            {% include '@StoreTemplate/Modules/_footer.html.twig' %}

        {%  endblock footer %}

    {% endblock container %}
</div>
{% endblock body %}
