{% extends 'AdminCoreBundle::layout.html.twig' %}


{% block header_actions %}
    {% if page.id > 0 %}
        <a target="_blank" href="{{ url("elcodi_page_render_view",{path: page.path}) }}" class="button-primary"><i class="icon-eye"></i> <span>{{ 'View at store'|trans }}</span></a>
    {% endif %}
{% endblock header_actions %}

{% block breadcrumb %}

    {% set entityHeader = page.id
        ? 'Edit ' ~ page.name
        : 'Create new Page'
    %}

    {% include '@AdminCore/Common/breadcrumb.html.twig' with {
        breadcrumb: {
            'Pages': {
                'url': url('admin_page_list')
            },
            (entityHeader): {
                'active' : true
            }
        }
    } %}

{% endblock breadcrumb %}

{% block content %}

    {% if page.id %}
        {{ render(url("admin_page_edit_component", {
            'id': page.id
        })) }}
    {% else %}
        {{ render(url("admin_page_new_component")) }}
    {% endif %}

{% endblock content %}
