{% extends 'StoreTemplateBundle::Layout/_layout.html.twig' %}

{% block container %}
    <section class="list-pages">
        <h1>Product</h1>
        <ul>
            <li>
                Home:
                <ul>
                    <li><a href="home-view.html">with products</a></li>
                    <li><a href="home-view-empty.html">without products</a></li>
                </ul>
            </li>
            <li>
                Category:
                <ul>
                    <li><a href="category-view.html">with products</a></li>
                    <li><a href="category-view-empty.html">without products</a></li>
                </ul>
            </li>
            <li>
                Item:
                <ul>
                    <li><a href="product-view-item.html">without variants</a></li>
                    <li><a href="product-view-variant.html">with variants</a></li>
                </ul>
            </li>
            <li>

            </li>
            <li>

            </li>
        </ul>
        <h1>Cart & Orders</h1>
        <ul>
            <li>
                Cart:
                <ul>
                    <li><a href="cart-view.html">with products</a></li>
                    <li><a href="cart-view-empty.html">without products</a></li>
                </ul>
            </li>
            <!--
           <li>
               Order:
               <ul>
                   <li><a href="order-list.html">List</a></li>
                   <li><a href="order-view.html">View</a></li>
               </ul>
           </li>
           -->
           <!--
           <li>
               <a href="cart-checkout-fail.html">Checkout fail</a>
           </li>
           -->
        </ul>
    </section>

    <style type="text/css">
        .list-pages {
            max-width: 800px;
            margin: 16px auto;
            overflow: hidden;
            background: #FFF;
            padding: 0 16px 16px 16px;
        }
        .list-pages ul {
            font-size: 18px;
            list-style: disc;
            padding-left: 18px;
        }
        .list-pages > ul > li {
            display: block;
            overflow: hidden;
            padding-bottom: 16px;
        }
    </style>
{% endblock container %}
