{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block content_title %}
    {{ 'Manufacturer Zone'|trans }}
{% endblock content_title %}

{% block breadcrumb %}

    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            "Manufacturers": {
                "active" : true
            }
        }
    } %}

{% endblock breadcrumb %}

{% block header_actions %}
    <a href="{{ url("admin_manufacturer_new") }}" class="button-primary"><i class="icon-plus"></i> {{ "New manufacturer"|trans }}</a>
{% endblock header_actions %}

{% block content %}

    {{ render(url("admin_manufacturer_list_component", {
        'page': page,
        'limit': limit,
        'orderByField': orderByField,
        'orderByDirection': orderByDirection
    })) }}

{% endblock content %}
