{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block content_title %}
    {{ 'Manufacturer Zone'|trans }}
{% endblock content_title %}

{% block breadcrumb %}

    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            "Manufacturers": {
                "url": url('admin_manufacturer_list')
            },
            "New": {
                "active" : true
            }
        }
    } %}

{% endblock breadcrumb %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            {{ render(url("admin_manufacturer_new_component")) }}
        </div>
    </div>

{% endblock content %}
