{#
 # Display block for a Product with variants in listing page.
 #
 # The add to cart direct button is removed.
 #}
{% extends 'StoreTemplateBundle::Product/blocks/pin.html.twig'%}

{#
 # A poduct with variant cannot be added directly to the cart.
 # We will link to the variant selection form in product detail
 # page
 #}
{% block pin_button_addcart %}
    <a class="btn btn-selectvariant btn-primary"
       title="Choose a model of {{ product.name }}"
       href="{{ url('store_product_view', {
            'slug': product.slug,
            'id': product.id
        }) }}#variant-add-to-cart">
        <span class="entypo numbered-list"></span>
    </a>
{% endblock %}
