services:

    #
    # Form Types
    #
    elcodi_admin.form_type.coupon:
        class: Elcodi\Admin\CouponBundle\Form\Type\CouponType
        arguments:
            - %elcodi.entity.rule.class%
        calls:
            - [setFactory, ["@elcodi.factory.coupon"]]
        tags:
            - { name: form.type, alias: elcodi_admin_coupon_form_type_coupon }
