// boxes
@import 'boxes/__index.scss';

// buttons
@import 'buttons/__index.scss';

// filters
@import 'filters/__index.scss';

// footer
@import 'footer/__index.scss';

// forms
@import 'forms/__index.scss';

// header
@import 'header/__index.scss';

// labels
@import 'labels/__index.scss';


// images
@import 'images/__index.scss';

// lists
@import 'lists/__index.scss';

// messages
@import 'messages/__index.scss';

// navigation
@import 'navigation/__index.scss';

// pagination
@import 'pagination/__index.scss';

// ratings
@import 'ratings/__index.scss';

// steps
@import 'steps/__index.scss';

// tabs
@import 'tabs/__index.scss';

// tags
@import 'tags/__index.scss';
