.product-list {
	.product-item {
		min-height: 300px;
	}
}

@mixin product-list-desktop {
	.product-list {
		& {
			overflow: hidden;
		}
		.product-item {
			float: left;
			width: 33%;
			box-sizing: border-box;
		}
		.product-thumbnail {
			min-height: 266px;
		}
	}
}