.product-to-basket-group {
	& {
		overflow: hidden;
		margin-bottom: $spacing;
	}
}

@mixin product-to-basket-group-desktop () {
	.product-to-basket-group {
		.product-to-basket {
			width: 44%;
			margin: 0 3% 3% 0;
			float: left;
			min-height: 125px;
		}
		p {
			text-align: right;
		}
	}
}