.product-thumbnail {
	& {
		line-height: 0;
		display: inline-block;
		border: solid $spacing/4 $color-background;
		max-width: 100%;
		box-shadow: 0 0 2px 1px rgba($color-foreground, 0.2);
		transition: all 200ms ease-out;
		margin-bottom: $spacing/2;
		position: relative;
		overflow: hidden;
		background: $color-background;
	}
	&:hover {
		opacity: .9;
		box-shadow: 0 0 2px 1px rgba($color-link, 0.4);
	}
	img {
		max-width: 100%;
	}
}