{% extends 'AdminCoreBundle::layout.html.twig' %}


{% set elcodi_context = {
    entity_type: 'carrier',
} %}


{% block breadcrumb %}

    {% include '@AdminCore/Common/breadcrumb.html.twig' with {
        breadcrumb: [
            { name: 'admin.settings.plural'|trans },
            { name: 'admin.carrier.plural'|trans, active: true },
        ],
    } %}

{% endblock breadcrumb %}


{% block header_actions %}

    <a href="{{ url('admin_carrier_new') }}" class="button-primary">
        <i class="icon-plus"></i>
        <span>{{ 'admin.carrier.new'|trans }}</span>
    </a>

{% endblock %}


{% block content %}

    {% if carriers|length > 0 and noEnabledCarriers %}
        <p class="msg-warning">{{ 'admin.carrier.error.no_active_carrier'|trans }}</p>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            {{ render(url('admin_carrier_list_component')) }}
        </div>
    </div>

{% endblock content %}
