{% extends 'StoreCoreBundle::layout.html.twig' %}

{% block title %}{% trans %}_root_title{% endtrans %} - {% trans %}_tagline_title{% endtrans %}{% endblock title %}

{% block stage_breadcrumb %}
    {% set elements =  {'Home' : {'url' : url('store_homepage')} } %}
    {% if category %}
        {% set elements = elements | merge({
            category : {
                'url' : url('store_category_products_list', {'categoryId' : category.id, 'slug': category.slug} ),
                'text' : category.name
            }
        }) %}
    {% elseif bread_crumb %}
         {% set elements = elements | merge({
            products : {
                'text' : bread_crumb
            }
        }) %}
    {% else %}
        {% set elements = elements | merge({
            products : {
                'text' : '_Products'
            }
        }) %}
    {% endif %}
    {% include "StoreCoreBundle:blocks:breadcrumb.html.twig" with {'elements': elements} %}
{% endblock stage_breadcrumb %}

{% block content_inner %}

    <div class="container">

        <div class="row">
            <div class="col col-sm-12 col-lg-3">
                {# Filters #}
                {% include "StoreProductBundle:Search:filter.html.twig" with { filter_tree: filter_tree } %}
            </div>
            <div class="col col-sm-12 col-lg-9">
                {# Bricks #}
                {% include "StoreProductBundle:Product:bricks_row.html.twig" with { grid: 12, cols_per_row: 3 } %}
            </div>
        </div>

    </div>

{% endblock content_inner %}
