.topbar {
	background: map-get($object-navigation-vars, background-color);
	display: block;
	overflow: hidden;
	text-align: center;
	position: relative;
	margin-bottom: -$spacing/4;
}

.topbar-title {
	& {
		display: inline-block;
		font-family: $font-face-title;
		font-size: $font-size-l;
		padding: $spacing/2;
		color: $color-background;
	}
	&:hover {
		text-decoration: none;
	}
}

.topbar-main-menu {
	position: absolute;
	left: $spacing/2;
	top: $spacing/2
}

.topbar-user-menu {
	position: absolute;
	right: $spacing/2;
	top: $spacing/2
}
