<li>
    <a
        href="https://twitter.com/{{ plugin.getFieldValue('twitter_account') }}"
        class="twitter-follow-button"
        data-show-count="false">
        Follow @{{ plugin.getFieldValue('twitter_account') }}
    </a>
</li>
