{% extends 'AdminCoreBundle::base.html.twig' %}

{% block head_style %}

    <link rel="stylesheet" type="text/css"  href="{{ asset('bundles/admincore/css/main.css') }}" media="all">
    <!--[if gte IE 9]>
    <link rel="stylesheet" type="text/css"  href="{{ asset('bundles/admincore/css/ie-new.css') }}" media="all">
    <![endif]-->
    <!--[if lte IE 8]>
    <script src="{{ asset('bundles/admincore/js/ie-old.js') }}"></script>
    <link rel="stylesheet" type="text/css"  href="{{ asset('bundles/admincore/css/ie-old.css') }}" media="all">
    <![endif]-->

{% endblock head_style %}

{% block body %}
    <div class="grid">
        <div class="col-4-5 pull-right">
            <header class="header">
                <div class="buttons-group">{% block header_actions %}{% endblock %}</div>
                {% block breadcrumb %}{% endblock %}
            </header>
            <div class="box-none">
                {% block content %}{% endblock content %}
            </div>
        </div>
        <aside class="col-1-5 sidebar">
            {% render url('admin_menu_side') %}
            {% render url('admin_currency_switch_nav') %}
        </aside>

    </div>

{% endblock body %}

{% block foot_script %}

    {% include 'AdminCoreBundle::footscript.html.twig' %}

{% endblock foot_script %}
