{% extends 'StoreCoreBundle::layout.html.twig' %}

{% block content %}

    <!-- Basket -->

    <div class="row">

		<div class="span6">

			<div class="checkout-box checkout-box-short">

				<h2>Shipping Method</h2>

                <p class="radios">
                    <input disabled="disabled" type="radio" id="field-standard" name="field-shipping" checked="checked" /> Standard - FREE<br />
                    <input disabled="disabled" type="radio" id="field-express" name="field-shipping" /> Express - {{ shippingPrice|print_money('USD') }}<br />
                </p>

			</div>

		</div>

		<div class="span6">

			<div class="checkout-box checkout-box-short">

				<h2>Payment Method</h2>

				<form action="{{ url("freepayment_execute") }}" method="post">

					<p class="radios">
						<input disabled="disabled" type="radio" id="field-card" name="field-method" checked="checked" /> Free<br />
						<input disabled="disabled" type="radio" id="field-card" name="field-method" /> Credit/Debit Card<br />
						<input disabled="disabled" type="radio" id="field-paypal" name="field-method" /> Paypal<br />
					</p>

					<p class="buttons">
						<button class="btn btn-primary" type="submit">Continue</button>
					</p>

				</form>

			</div>

		</div>

	</div>

{% endblock %}
