<div class="block-flat">
    <div class="content no-padding">
        <div class="overflow-hidden">
            <i class="fa fa-cogs fa-4x pull-left color-danger"></i>
            <h3 class="no-margin">{{ 'MONTHLY'|trans }}</h3>
            <p class="color-danger">{{ 'Number of categories added this month'|trans }}</p>
        </div>
        <h1 class="no-margin big-text">{{ total }}</h1>
    </div>
</div>
