@media screen and (min-width: 768px){
	.mobile {
		& {
			display:none;
		}
		&.d-ib, &.d-b {
			display: none !important;
		}
	}
	.desktop {
		& {
			display:block !important;
		}
		&.d-ib, &.inline-block {
			display: inline-block !important;
		}

	}

	td.desktop, th.desktop {
		display: table-cell !important;
	}

	@include header-desktop;
	@include category-nav-desktop;
	@include product-list-desktop;
}