html {
	height: 100%;
	overflow: auto;
	background-color: $color-body;
	color: $color-foreground;
	font-family: $font-face-default;
	font-size: $font-size-default;
	text-rendering: optimizelegibility;
}

a {
	& {
		color: $color-link;
		text-decoration: none
	}
	&:hover {
		text-decoration: underline;
	}
}

/* @group SCROLLBAR */
.scroll::-webkit-scrollbar,
pre::-webkit-scrollbar,
textarea::-webkit-scrollbar {
	width: 9px;
	height: 10px;
	background: none;
}

pre::-webkit-scrollbar-button,
textarea::-webkit-scrollbar-button,
.scroll::-webkit-scrollbar-button {
	display: none;
	background: none;
}

pre::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
	margin: 20px;
}

pre::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb {
	background-color: #CCC;
}

pre::-webkit-scrollbar-thumb:hover,
textarea::-webkit-scrollbar-thumb:hover,
.scroll::-webkit-scrollbar-thumb:hover {
	background-color: #AAA;
}
/* @endgroup SCROLLBAR */

/* @group HELPERS */
.hidden {
	display: none;
}
img,
object {
	max-width: 100%;
	height: auto;
}

/* @endgroup HELPERS */

ul, ol {
	padding-left: 0;
	list-style: none;
}

li > ul, li > ol {
	margin-top: .5em;
	margin-bottom: 0;
}

dd {
	margin-left: 0;
}

nav ul, .nav {
	margin-bottom: 0;
	letter-spacing: -0.31em;
	word-spacing: -0.43em;
}

nav li, .nav li {
	display: inline-block;
	letter-spacing: normal;
	word-spacing: normal;
}

small {
	font-size: $font-size-xxs;
	line-height: $line-height-default;
}

img[height="1"][width="1"] {
	position: absolute;
}

p {
	margin-top: 0;
}

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */