{% trans_default_domain "emails" %}

{% block content %}
    <p>
        Hi.
    </p>
    <p>
        We are Elcodi team.
    </p>
    <p>
        You can recover your password acessing to <a href="{{ recover_url }}">this link</a>
    </p>
{% endblock content %}
