$object-filters-vars-default: (

	/* Background  first level: */
		background-color: transparent,

	/* Background second level: */
		background-color-dark: $color-primary-dark,

	/* Background gradients (from background-color to background-color-light) */
		background-color-light: $color-primary-light,

	/* Link color */
		color: $color-link,

	/* Link color active */
		color-active: $color-foreground,

	/* Border Radius */
		border-radius: $default-border-radius,

	/* Font family first level */
		font-family: $font-face-title,

	/* Font weight first level */
		font-weight: normal,

	/* Font weight first level */
		font-weight-active: bold,

	/* Font size first level */
		font-size: $font-size-default,

) !global !default;