@if $object-image-polaroid != false {

	img.image-polaroid {
		@extend %images-polaroid;
	}

	a.image-polaroid {
		& {
			text-decoration:none;
			display:inline-block;
			@extend %images-polaroid;
		}
		&.left, &.right {
			margin-bottom:$spacing;
		}
	}

}