{% block doctype_and_html %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
{% endblock doctype_and_html %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{{ store.name }} - {{ 'admin.name'|trans }}{% endblock %}</title>
        {% block meta_tags '' %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript">document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');</script>
        <link href="{{ asset('favicon.ico') }}" rel="shortcut icon" type="image/x-icon">
        {% block head_style '' %}
        {% block head_script '' %}
    </head>
    <body data-fc-modules="polyfills" class="{% block body_class '' %}">
        <!--[if lt IE 8]><!-- should warn for outdated browser --><!--[endif]-->
        {% block body '' %}
        {% block foot_script '' %}
    </body>
</html>
