@import "http://fonts.googleapis.com/css?family=Open+Sans:700,300";

$font-line-height-custom: (
	base: 1.5em,
	title: 1.2em
) !global;

$font-faces-custom: (
	default: 'Tahoma, Arial, Verdana, sans-serif',
	title: "'Open Sans', Tahoma, sans-serif",
	icons: true
) !global;

$font-sizes-custom: (
	base: 14px,
	xxxl: 3rem,
	xxl: 2.2rem,
	xl: 1.4rem,
	l: 1.2rem,
	ml: 1.1rem,
	m: 1rem,
	default: .9rem,
	s: .85rem,
	xs: .75rem,
	xxs: .7rem,
	xxxs: .6rem,
	xxxxs: .5rem
) !global;