{% extends '@AdminProduct/Product/view.html.twig' %}

{% block content_title %}
    {{ 'Attribute Value Zone'|trans }}
{% endblock content_title %}

{% block breadcrumb %}

    {% include "@AdminCore/Common/breadcrumb.html.twig" with {
        breadcrumb: {
            "view value": {
                "active" : true
            }
        }
    } %}

{% endblock breadcrumb %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            {{ render(url("admin_value_view_component", {
                'id': id,
                'valueId': valueId
            })) }}
        </div>
    </div>

{% endblock content %}
