// Support for IE6
$legacy-support-for-ie6: false !global;

// Support for IE7
$legacy-support-for-ie7: false !global;

// Support for IE8
$legacy-support-for-ie8: false !global;

// Suppor for IE9
$legacy-support-for-ie9: true !global !default;