@mixin desktop-core {
	.mobile, .tablet {
		& {
			display:none;
		}
		&.d-ib, &.d-b {
			display: none !important;
		}
	}
	.desktop {
		& {
			display:block !important;
		}
		&.d-ib, &.inline-block {
			display: inline-block !important;
		}

	}

	td.desktop, th.desktop {
		display: table-cell !important;
	}

	@include desktop-tabs;
}