.welcome {
	& {
		overflow: hidden;
		margin-bottom: 0;
		background: rgba($color-ok, .1);
		padding-bottom: $spacing/4;
	}
	h2 {
		& {
			display: block;
			position: relative;
			padding: $spacing/4;
			background: $color-ok;
			color: contrast-color($color-ok);
			text-align: center;
			margin-bottom: $spacing/8;
			overflow: hidden;
		}
		span {
			position: absolute;
			margin-left: -100px;
			@include opacity(.2);
			top: -12px;
		}
	}
}


.welcome-item {
	& {
		text-align: center;
		position: relative;
		padding: $spacing/2 $spacing/2;
		@include border-radius;
	}
	i {
		@extend %icon-rounded;
		min-width: 116px;

	}
	.welcome-done-sign {
		display: none;
	}
}

.welcome-active {
	& {
		background: $color-background;
	}
	i {
		border-color: $color-primary;
		color: $color-primary;
	}
	.button {
		background: $color-primary;
	}

}

.welcome-done {
	& {
		@include opacity(.3);
	}
	i {
		border-color: $color-ok;
		color: $color-ok;
	}
	h5 {
		color: $color-ok;
	}
	.button {
		background: $color-ok;
	}
	.welcome-done-sign {
		position: absolute;
		@include transform(rotate(-15deg));
		background: $color-ok;
		display: inline-block;
		color: $color-background;
		padding: $spacing/8 $spacing/2;
		top: 103px;
		font-size: 2rem;
		left: 32%;
		@include border-radius;

	}
}

