{% extends 'StoreCoreBundle::layout.html.twig' %}

{% form_theme form 'StoreCoreBundle::fields.html.twig' %}

{% block title %}{% trans %}_root_title{% endtrans %} - {% trans %}_tagline_title{% endtrans %}{% endblock title %}

{% block content %}

    <div class="container">

        {% include 'StoreUserBundle:Security:blocks/register.html.twig' %}

    </div>

{% endblock content %}
