/* Description:
Provides a common system for setting % width between properties HTML elements.

Usage:
Mark the element with the desired measure class.

Complete acronym reference based on Emmet:

LETTERS BEFORE THE DASH
w = width

NUMBERS AFTER THE DASH

* Use multiples of 5 up to 100 to establish percent width. E.g: w-5, w-25, w-100

*/

$measures-percent: 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100;

@if $ui != true {

	@each $measure in $measures-percent {
		.w-#{$measure} {
			width: 0% + $measure !important;
		}
	}
}