<a
    href="https://twitter.com/share"
    class="twitter-share-button"
    data-url="{{ url }}"
    data-text="{{ text|escape('html_attr') }}"
    data-via="{{ plugin.getFieldValue('twitter_account') }}"
>Tweet</a>
