{% extends 'StoreTemplateBundle::Layout/_layout.html.twig' %}

{% block content_title %}
    {% if thanks %}
        Thank You For Your Order!
    {% else %}
        Order #{{ order.id }}
    {% endif %}
{% endblock content_title %}

{% block content %}
    <div class="row">
        <div class="span12">

            <table class="basket-table">
                <thead>
                <tr>
                    <th colspan="2">Item</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th colspan="2">Total</th>
                </tr>
                </thead>
                <tbody>

                {% for line in order.orderLines %}

                    {% include "@StoreTemplate/Modules/_order-item.html.twig" with {"line": line} %}

                {% endfor %}

                {% for orderCoupon in orderCoupons %}

                    {% include "@StoreTemplate/Modules/_order-coupon-item.html.twig" with {"orderCoupon": orderCoupon} %}

                {% endfor %}

                </tbody>
            </table>

			<div class="clearfix">
			    <p class="basket-total basket-total-shipping"><span>Shipping:</span> FREE</p>
			</div>

            <div class="clearfix">
                <p class="basket-total"><span>Total: </span>{{ order.amount|print_convert_money() }}</p>
            </div>

            <div class="clearfix">
                <p class="basket-total"><span>Status: </span>{{ order.lastStateLine.name }}</p>
            </div>

            <p class="actions">
                <a class="btn btn-primary" href="{{ url('store_homepage') }}">Continue Shopping</a>
            </p>

        </div>
    </div>

{% endblock %}
