{% extends '@StoreTemplate/Layout/_static.html.twig' %}

{% block content %}

    <div class="row">
        <div class="span12">
            <div class="content-box">
                <h1>Store disabled</h1>
            </div>
        </div>
    </div>


{% endblock content %}
