{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block content_title %}
    {{ 'Cart Zone'|trans }}
{% endblock content_title %}

{% block breadcrumb %}

    {% include '@AdminCore/Common/breadcrumb.html.twig' with {
        breadcrumb: {
            'Carts': {
                'url': url('admin_cart_list')
            },
            ('View #' ~ id): {
                'active' : true
            }
        }
    } %}

{% endblock breadcrumb %}
{% block content %}

    <div class="row">
        <div class="col-md-6">
            {{ render(url("admin_cart_view_component", {
                'id': id,
            })) }}
        </div>
        <div class="col-md-6">
            {{ render(url("admin_cart_gallery_component", {
                'id': id,
            })) }}
        </div>
    </div>

{% endblock content %}
