{% extends 'AdminCoreBundle::layout.html.twig' %}


{% set elcodi_context = {
    entity_type: 'blog_post',
} %}


{% block breadcrumb %}

    {% include '@AdminCore/Common/breadcrumb.html.twig' with {
        breadcrumb: [
            { name: 'admin.communication.single'|trans, active: false },
            { name: 'admin.blog_post.plural'|trans, active: true },
        ]
    } %}

{% endblock %}


{% block header_actions %}

    <a href="{{ url('admin_blog_post_new') }}" class="button-primary">
        <i class="icon-plus"></i>
        <span>{{ 'admin.blog_post.new'|trans }}</span>
    </a>

{% endblock header_actions %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
            {{
                render(url('admin_blog_post_list_component', {
                    page: page,
                    limit: limit,
                    orderByField: orderByField,
                    orderByDirection: orderByDirection,
                }))
            }}
        </div>
    </div>

{% endblock content %}
