{% extends '@AdminCore/layouts/center_box.html.twig' %}


{% block title_container 'store.error.page_not_found_title'|trans %}

{% block center_width "600" %}
{% block center_height "600" %}

{% block content %}

    <h1>{{ 'store.error.page_not_found'|trans }}</h1>
    <img src="{{ asset('bundles/admincore/images/dr-evil.png') }}" width="250" class="fl-r ml-m" />

{% endblock content %}
