<div class="span1">
    <p class="mini-basket-summary">
        {{ 'Price'|trans }}<br />
        <span>{{ cart.amount|print_convert_money() }}</span>
    </p>
</div>

<div class="span1">
    <p class="mini-basket-summary">
        {{ 'Items'|trans }}<br />
        <span>{{ cart.totalItemNumber }}</span>
    </p>
</div>
