<div class="span1">
    <p class="mini-basket-summary">
        Price<br />
        <span>{{ cart.amount|print_price('USD', 'USD') }}</span>
    </p>
</div>

<div class="span1">
    <p class="mini-basket-summary">
        Items<br />
        <span>{{ cart.totalItemNumber }}</span>
    </p>
</div>
