{% extends 'StoreCoreBundle::layout.html.twig' %}

{% block content_title %}

    {% if cart.totalItemNumber > 0 %}
        Your Basket
    {% else %}
        Your Basket is empty!
    {% endif %}

{% endblock content_title %}

{% block content %}

    <!-- Basket -->

    {% if cart.totalItemNumber > 0 %}

        <div class="row">
            <div class="span12">

                <table class="basket-table">
                    <thead>
                    <tr>
                        <th colspan="2">Item</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th colspan="2">Total</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for line in cart.cartLines %}

                        {% include "StoreCartBundle:Cart:blocks/row.html.twig" with {
                            "line": line
                        } %}

                    {% endfor %}

                    </tbody>
                </table>

                <div class="clearfix">

                    <p class="basket-total"><span>Total: </span>{{ cart.amount|print_price('USD', 'USD') }}</p>

                </div>

                <p class="actions">
                    <a class="btn btn-blank" href="{{ url('store_homepage') }}">Continue Shopping</a>
                    <a class="btn btn-blank" href="{{ url('cart_empty_checkout') }}">Empty Basket</a>
                    <a class="btn btn-blank" href="basket.html">Update Basket</a>
                    <a class="btn btn-primary" href="{{ url('store_checkout_payment') }}">Continue to Checkout</a>
                </p>

            </div>
        </div>

        <!-- Related products -->

        {% include "StoreProductBundle:Product:blocks/related.html.twig" with {
            'products' : related_products
        } %}

    {% endif %}

{% endblock %}
