$colors-default: (
		foreground: #424242,
		foreground-light: #9b9b9b,
		foreground-dark: auto,
		background: #fdfdfd,
		background-light: auto,
		background-dark: auto,
		body: #E6E9EA,
		primary: #407C8E,
		primary-light: auto,
		primary-dark: #315F72,
		secondary: #3ACED1,
		secondary-light: auto,
		secondary-dark: auto,
		link: #3ACED1,
		link-hover: #006bc1,
		link-hover-background: transparent,
		box: #f4f2f2,
		box-light: auto,
		box-dark: auto,
		megacontrast: #000,
		header-background: #61B5A9,
		rank: #FCCB04,
		info: #1E72A6,
		ok: #879436,
		ko: #b32d20,
		warning: #DFB84F,
		input-focus: #ffffea
) !global !default;