$colors-default: (
		foreground: #383838,
		foreground-light: #9b9b9b,
		foreground-dark: auto,
		background:	#FFF,
		background-light: auto,
		background-dark: auto,
		body: #E6E9EA,
		primary: #46a5ce,
		primary-light: auto,
		primary-dark: auto,
		secondary: #61b5a9,
		secondary-light: auto,
		secondary-dark: auto,
		link: #2bac6c,
		link-hover:	#006bc1,
		link-hover-background: transparent,
		box: #f4f2f2,
		box-light: auto,
		box-dark: auto,
		megacontrast: #000,
		header-background: #3d474e,
		rank: #FCCB04,
		info: #1E72A6,
		ok: #6A932C,
		ko: #EE3728,
		warning: #DFB84F,
		input-focus: #ffffea
) !global !default;