$fonts-default: (
		line-height-base: 1.5em,
		line-height-title: 1.2em,
		face-default: "'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif",
		face-title: "'Open Sans Condensed','Arial Narrow', Tahoma, sans-serif",
		weight-default: normal,
		weight-title: bold,
		icons: true,
		size-base: 15px,
		size-xxxl: 2.2rem,
		size-xxl: 1.7rem,
		size-xl: 1.4rem,
		size-l: 1.3rem,
		size-ml: 1.2rem,
		size-m: 1.1rem,
		size-default: 1rem,
		size-s: .9rem,
		size-xs: .8rem,
		size-xxs: .75rem,
		size-xxxs: .7rem,
		size-xxxxs: .6rem,
		size-title-exponential: 1.5
) !global !default;