$objects-default: (
		style: flat,
		boxes: default,
		buttons: default,
		filters: default,
		footer: default,
		form: default,
		form-search: default,
		header: default,
		image-circle: default,
		image-polaroid: default,
		image-thumbnail: default,
		lists: default,
		messages: default,
		navigation: true,
		navigation-sub: true,
		pagination: default,
		ratings: default,
		slides: default,
		steps: default,
		tabs: default,
		tags: default,
		labels: default,
		switch: default,
		animations: default,
		balloons: default,
		tables: default
) !global !default;