$user-interface-default: (
		autocomplete: true,
		carousel: true,
		cart: true,
		code: true,
		modals: true,
		notifications: true,
		side-panel: true,
		sortable: true,
		charts: true,
		tables: true,
		tags: true,
		tips: true,
		wysiwyg: true
) !global !default;