@if $object-buttons != false {
	[class*='button-'], .button {
		& {
			@extend %button;
			@include inline-block;
			vertical-align: middle;
			text-decoration: none;
			text-align: center;
			cursor: pointer;
		}
		&.button-icon {
			padding: $spacing/4 0 $spacing/4 $spacing/4;
			font-family: 'FontAwesome' !important;
			min-height: 26px;
			min-width: 26px;
		}
	}

	input[type='button'],
	input[type='reset'],
	input[type='submit'] {
		height: auto;
		width: auto;
	}

	.button-fat {
		& {
			padding: $spacing/2 $spacing;
			@include rem-fallback(font-size, $font-size-xl);
		}
		&.button-icon {
			min-height: 36px;
			min-width: 36px;
		}
	}

	.button-slim {
		& {
			padding: $spacing/6 $spacing/2;
			@include rem-fallback(font-size, $font-size-xs);
		}
		&.button-icon {
			padding: $spacing/8 0 $spacing/8 $spacing/4;
			min-height: 19px;
			min-width: 19px;
		}
	}


}

@if $object-style == flat {

	.button {
		@include background-transparent($color-foreground, .25);
		color: $color-background;
		@include text-shadow(0 1px rgba($color-foreground, .3));
	}
	.button:hover {
		@include background-transparent($color-foreground, .20);
	}

	.button:active {
		@include background-transparent($color-foreground, .15);
	}

	.button-primary {
		background:$color-primary;
		color: $color-background;
		@include text-shadow(0 1px rgba($color-foreground, .3));
	}

	.button-primary:hover {
		@include background-transparent($color-primary, .8);
	}

	.button-primary:active {
		@include background-transparent($color-primary, .7);
	}

	.button-secondary {
		background:$color-secondary;
		color: $color-background;
		@include text-shadow(0 1px rgba($color-foreground, .3));
	}

	.button-secondary:hover {
		@include background-transparent($color-secondary, .8);
	}

	.button-secondary:active {
		@include background-transparent($color-secondary, .7);
	}

	.button-ok {
		background:$color-ok;
		color: $color-background;
		@include text-shadow(0 1px rgba($color-foreground, .3));
	}

	.button-ok:hover {
		@include background-transparent($color-ok, .8);
	}

	.button-ok:active {
		@include background-transparent($color-ok, .7);
	}

	.button-ko {
		background:$color-ko;
		color: $color-background;
		@include text-shadow(0 1px rgba($color-foreground, .3));
	}

	.button-ko:hover {
		@include background-transparent($color-ko, .8);
	}

	.button-ko:active {
		@include background-transparent($color-ko, .7);
	}

	.button-disabled,
	.button-disabled:hover {
		border:1px solid #ccc;
		@include box-shadow(inset 0 -1px 2px 0 rgba(0, 0, 0, .1), 1px 1px 3px rgba(0, 0, 0, .1));
		@include text-shadow(1px 1px 1px #ddd);
		background:#eee;
		color:#ccc;
		cursor:default;
		pointer-events:none;
	}

	[class*='button-'], .button {
		& {
			font-weight:bold;
			font-family: $font-face-title;
		}
		&.button-slim {
			font-family: $font-face-default;
			font-weight:normal;
		}
	}
}

@if $object-style == gradient {

	.button {
		@include background-image(linear-gradient($color-box 30%, $color-box-dark 70%));
		@include background-gradient-ie-old($color-box, $color-box-dark);
		border: 1px solid $color-box-dark;
		color: $color-foreground;
	}

	.button-primary {
		@include background-image(linear-gradient($color-primary-light 20%, $color-primary 80%));
		@include background-gradient-ie-old($color-primary-light, $color-primary);
		border: 1px solid $color-primary;
		color: contrast-color($color-primary);
	}

	.button-secondary {
		@include background-image(linear-gradient($color-secondary-light 20%, $color-secondary 80%)); @include background-gradient-ie-old($color-secondary-light, $color-secondary);
		border: 1px solid $color-secondary;
		color: contrast-color($color-secondary);
	}

	.button-ok {
		@include background-image(linear-gradient(lighten($color-ok, 10%) 20%, $color-ok 80%));
		@include background-gradient-ie-old(lighten($color-ok, 10%), $color-ok);
		border: 1px solid $color-ok;
		color: $color-background;
	}

	.button-ko {
		@include background-image(linear-gradient(lighten($color-ko, 10%) 20%, $color-ko 80%));
		@include background-gradient-ie-old(lighten($color-ko, 10%), $color-ko);
		border: 1px solid $color-ko;
		color: $color-background;
	}


	[class*='button-'], .button {
		& {
			font-weight: bold;
			font-family: $font-face-title;
			padding: $font-size-m/3 $font-size-m;
			@include rem-fallback(font-size, $font-size-m);
			@include box-shadow(0px 1px 0px rgba($color-foreground, .5));
		}
		&:hover {
			@include box-shadow(0px 1px 0px rgba($color-foreground, .5), inset 0 0 100px rgba($color-background, .5));
		}
		&:active {
			@include box-shadow(inset 1px 1px 3px rgba($color-foreground, .5));
		}
		&.button-slim {
			font-family: $font-face-default;
			padding: $font-size-s/2 $font-size-s;
			font-weight: normal;
		}
		&.button-fat {
			padding: $font-size-l/2 $font-size-l;
			@include rem-fallback(font-size, $font-size-l);
		}
	}

}