// Loads the SCSS for Modals UI
$ui-modals: true !global !default;

// Loads the SCSS for Tags input UI
$ui-tags: true !global !default;

// Loads the SCSS for Code pre UI
$ui-code: true !global !default;

// Loads the SCSS for side menu UI
$ui-side-menu: true !global !default;

// Loads the SCSS for stats UI
$ui-stats: true !global !default;

// Loads the SCSS for animations
$ui-animations: true !global !default;

// Loads the SCSS for autocomplete UI
$ui-autocomplete: true !global !default;

// Loads the SCSS for tips UI
$ui-tips: true !global !default;

// Loads the SCSS for tips UI
$ui-carousel: true !global !default;

$ui-demo: false !global !default;

$ui-tables: true !global !default;

$ui-notifications: true !global !default;
