{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block content_title %}Welcome!{% endblock content_title %}

{% block breadcrumb %}<h1>Welcome!</h1>{% endblock %}

{% block content %}

    {% render(controller("AdminMetricBundle:Panel:metricPanelToday")) %}

{% endblock content %}
