{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block content_title %}Welcome!{% endblock content_title %}

{% block breadcrumb %}<h1>Welcome!</h1>{% endblock %}

{% block content %}

    {{ render(url('admin_metric_last_24_hours', {
        'tracker': store_tracker,
        'event': 'page_view'
    })) }}

{% endblock content %}
