{% extends 'AdminCoreBundle::layout.html.twig' %}

{% block content_title %}Welcome!{% endblock content_title %}

{% block breadcrumb %}<h1>Welcome!</h1>{% endblock %}

{% block header_actions %}
    {#
    <a href="#step1" class="button" data-tc-modules="toggle">1</a>
    <a href="#step2" class="button" data-tc-modules="toggle">2</a>
    <a href="#step3" class="button" data-tc-modules="toggle">3</a>
    #}
{% endblock %}

{% block content %}

    {{ render(url('admin_metric_last_24_hours', {
        'tracker': store_tracker,
        'event': 'page_view'
    })) }}

    {#

    <!-- FIRST STEP  -->

    <div id="step1" class="grid welcome">
        <div class="col-1-3">
            <div class="welcome-item welcome-active">
                <i class="icon-dropbox"></i>
                <span class="welcome-done-sign">Done!</span>
                <h5><span class="icon-check"></span> Add some products</h5>
                <p>The most important thing in your store after your clients. Let's add some products!</p>
                <p class="mb-n"><a href="#" class="button">Create my first product</a></p>
                <p class="fz-s">Estimated time 5 min</p>
            </div>
        </div>
        <div class="col-1-3">
            <div class="welcome-item">
                <i class="icon-credit-card"></i>
                <span class="welcome-done-sign">Done!</span>
                <h5><span>2.</span> Setup the payments</h5>
                <p>There are several ways to pay for your customers, setup more convenients for you.</p>
                <p class="mb-n"><a href="#" class="button">Add payments methods</a></p>
                <p class="fz-s">Estimated time 3 min</p>
            </div>
        </div>
        <div class="col-1-3">
            <div class="welcome-item">
                <i class="icon-home"></i>
                <span class="welcome-done-sign">Done!</span>
                <h5><span>3.</span> Setup your domain</h5>
                <p>The domain is you address, configure someone you own or get one now.</p>
                <p class="mb-n"><a href="#" class="button">Add a domain</a></p>
                <p class="fz-s">Estimated time 2 min</p>
            </div>
        </div>
    </div>

    <!-- SECOND STEP  -->

    <div id="step2" class="grid welcome hidden">
        <div class="col-1-3">
            <div class="welcome-item welcome-done">
                <i class="icon-dropbox"></i>
                <span class="welcome-done-sign">Done!</span>
                <h5><span class="icon-check"></span> Add some products</h5>
                <p>The most important thing in your store after your clients. Let's add some products!</p>
                <p class="mb-n"><a href="#" class="button">Create my first product</a></p>
                <p class="fz-s">Estimated time 5 min</p>
            </div>
        </div>
        <div class="col-1-3">
            <div class="welcome-item welcome-active">
                <i class="icon-credit-card"></i>
                <span class="welcome-done-sign">Done!</span>
                <h5><span>2.</span> Setup the payments</h5>
                <p>There are several ways to pay for your customers, setup more convenients for you.</p>
                <p class="mb-n"><a href="#" class="button">Add payments methods</a></p>
                <p class="fz-s">Estimated time 3 min</p>
            </div>
        </div>
        <div class="col-1-3">
            <div class="welcome-item">
                <i class="icon-home"></i>
                <span class="welcome-done-sign">Done!</span>
                <h5><span>3.</span> Setup your domain</h5>
                <p>The domain is you address, configure someone you own or get one now.</p>
                <p class="mb-n"><a href="#" class="button">Add a domain</a></p>
                <p class="fz-s">Estimated time 2 min</p>
            </div>
        </div>
    </div>

    <!-- THIRD STEP  -->

    <div id="step3" class="grid welcome hidden">
        <div class="col-1-3">
            <div class="welcome-item welcome-done">
                <i class="icon-dropbox"></i>
                <span class="welcome-done-sign">Done!</span>
                <h5><span class="icon-check"></span> Add some products</h5>
                <p>The most important thing in your store after your clients. Let's add some products!</p>
                <p class="mb-n"><a href="#" class="button">Create my first product</a></p>
                <p class="fz-s">Estimated time 5 min</p>
            </div>
        </div>
        <div class="col-1-3">
            <div class="welcome-item welcome-done">
                <i class="icon-credit-card"></i>
                <span class="welcome-done-sign">Done!</span>
                <h5><span>2.</span> Setup the payments</h5>
                <p>There are several ways to pay for your customers, setup more convenients for you.</p>
                <p class="mb-n"><a href="#" class="button">Add payments methods</a></p>
                <p class="fz-s">Estimated time 3 min</p>
            </div>
        </div>
        <div class="col-1-3">
            <div class="welcome-item welcome-active">
                <i class="icon-home"></i>
                <span class="welcome-done-sign">Done!</span>
                <h5><span>3.</span> Setup your domain</h5>
                <p>The domain is your address on internet, configure one you own or get one now.</p>
                <p class="mb-n"><a href="#" class="button">Add a domain</a></p>
                <p class="fz-s">Estimated time 2 min</p>
            </div>
        </div>
    </div>

    #}
{% endblock content %}
