@if $object-lists != false and $ui != true {

	ul[class*='list-'], ul.list {
		& {
			list-style: disc outside;
			padding-left: $spacing;
		}
		ul {
			& {
				list-style: circle;
			}
		}
	}

	ol.list, ol.list-horizontal {
		list-style: decimal inside;
		padding-left: $spacing;
	}

	dl[class*='list-'], dl.list {
		dt {
			color: $color-foreground-light;
		}
		dd {
			margin-bottom: $spacing/4;
		}
	}
}